<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <title>Blog Application</title>
    
</head>
<body>

    <!-- navbar -->
    <nav class="h-12 flex justify-between items-center p-10 bg-gray-800 sticky top-0 z-50">
        <h1 class= "font-bold font-sans uppercase italic text-xl text-white" >Tech Blog</h1>
        <div>
            <ul class="text-white text-lg font-semibold flex gap-10">
                <li class="cursor-pointer hover:text-orange-600 transition-colors duration-200">
                    <a href="/">Home</a></li>
                <li class="cursor-pointer hover:text-orange-600 transition-colors duration-200">
                    <a href="/newpost">Write a post</a></li>
            </ul>
        </div>
    </nav>
    
